ALLOWED_HOSTS='0.0.0.0', 'localhost', '127.0.0.1'
SECRET_KEY=long_generated_secret_key_50+_chars

DOCKER_SECRET_KEY=random-key
DOCKER_DB_NAME=db_name
DOCKER_DB_USER=db_user
DOCKER_DB_PASSWORD=db_pass
DOCKER_DB_HOST=host_ip
DOCKER_DB_PORT=5544

POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_pass